@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&display=swap');

/* utils */
.headers {
  color: rgba(41, 41, 41, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 500;
}

.gen-bgrc {
  background-color: rgba(250, 249, 251, 1);
}

input {
  outline: 0;
  /* color: rgba(184, 182, 182, 1); */
  border: 1px solid rgba(184, 182, 182, 1);
}

/* nav part */
Navbar {
  background: rgba(184, 182, 182, 1);
  color: rgba(45, 0, 80, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 600;
}

.nav-header {
  color: rgba(45, 0, 80, 1);
}

.text-dark {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 500;
}

/* hero part */
.hero {
  height: 32.5rem;
}
.hero-header {
  color: rgba(41, 41, 41, 1);
}

.hero-span {
  color: rgba(151, 79, 208, 1);
}

.hero-paragraph {
  color: rgba(115, 113, 113, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}

.hero-btn {
  background-color: rgba(151, 79, 208, 1);
  color: rgba(250, 249, 251, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 500;
}

/* All task */

.urgent {
  color: rgba(243, 131, 131, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}

.important {
  color: rgba(115, 195, 166, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}

.content-box p {
  color: rgba(115, 113, 113, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}

.content-box h2 {
  color: rgba(41, 41, 41, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}

.edit-btn {
  background-color: rgba(151, 79, 208, 1);
  color: rgba(250, 249, 251, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 500;
}

.delete-btn {
  background-color: inherit;
  color: rgba(151, 79, 208, 1);
  border: 1px solid rgba(151, 79, 208, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 500;
}

.delete-edit-img {
  height: 1.2rem;
}

.add-new-item {
  color: rgba(151, 79, 208, 1);
  text-decoration: none;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 500;
}

.new-task-link {
  color: rgba(151, 79, 208, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}

/* new task */
.new-task-container {
  position: relative;
  color: rgba(204, 204, 204, 1);
}

.header-span{
  margin-left: -10rem;
}

.task-title {
  position: absolute;
  display: block;
  top: -0.8rem;
  left: 1rem;
  color: rgba(156, 156, 156, 1);
  background-color: #ffffff;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}

.new-task-header {
  width: 12rem;
}

.description-input {
  height: 10rem;
  /* padding-bottom: 6rem; */
  outline: 0;
}

.tags-btn {
  position: absolute;
  bottom: 0.8rem;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}

.urgent-important-btn {
  padding: 0.2rem;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}

.light {
  background-color: rgba(156, 156, 156, 1);
}

.drop-img {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
}

.done-task-btn {
  background-color: rgba(151, 79, 208, 1);
  color: rgba(250, 249, 251, 1);
  font-family: 'Signika Negative', sans-serif;
  font-weight: 500;
}

/* edit page */
.edit-input::placeholder {
  color: rgba(41, 41, 41, 1);
  font-weight: 600;
}
.edit-description-input {
  height: 10rem;
  outline: 0;
}

.edit-description-input::placeholder {
  color: rgba(41, 41, 41, 1);
  font-weight: 600;
}

.dark {
  background-color: rgba(41, 41, 41, 1);
  color: #ffffff;
}

@media (max-width: 425px) {
  .hero-img {
    width: 100%;
    margin: auto;
  }

  .hero-contents{
    margin-top: 2rem;
  }
}
